*
{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;

}
/*body :hover*/
/*{*/
/*    margin-left: 10%*/

/*}*/

#Div1 {
    width: 100%;
    height: 20px;
    margin-top: 0%;
    margin-bottom: 3%;

    box-shadow: 1px 1px 10px black;

    background-color: darkgreen;
    font-size: 12px;

}
#Div2 {
    width: 80%;
    height: 220px;
    margin: 0 auto;

    position: center;
    top: 0;
    left: 0;

    background-color: darkolivegreen;
    font-size: 15px;
    background-image: url(../allMedia/images/social-google-box-icon.png);
    background-repeat: no-repeat;
    background-position: right;

    /*animation-name: revolutie;*/
    /*animation-duration: 3s;*/
    /*animation-iteration-count: infinite;*/
}
@keyframes revolutie {
    from {transform: rotateX(0deg)}
    to {transform: rotateX(360deg)}
}
#Div3 {
    width: 80%;
    height: 150px;
    top: 10%;
    bottom: 25%;
    margin: 0 auto;
    position: relative;

    background-color: rgba(0,255,0, 0.2);

    font-size: 18px;
    background-image: url(../allMedia/images/firefox.jpeg);
    background-repeat: no-repeat;
    background-position: left;
}

#Div4 {
    width: 80%;
    height: 50%;

    position: relative;
    top: 20%;
    margin: 0 auto;

    color: red;
    background-color: rgba(0,255,0, 0.6);
    font-size: 20px;

    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}


li {
    list-style-type: none;
}
