*
{
    margin: 0px;
    padding: 0px;
}

body
{
    border: 1px solid;
}

#kopTitel
{
    background-color: white;
    width: 100%;
}

#A
{
    background-color: black;
    width: 100%;
    color: white;
}
#B
{
    background-color: red;
    width: 100%;
}
#C
{
    background-color: green;
    width: 100%;
}
#D
{
    background-color: blue;
    width: 100%;
}
#E
{
    background-color: white;
    width: 100%;
    color: black;
}


/*
KopTitel
 */
#k1
{
    float: left;
    margin-right: 28px;
}
#k2
{
    float: left;
    margin-right: 85px;

}
#k3
{
    float: left;
    margin-right: 40px;
}
#k4
{
    float: left;
    margin-right: 10px;
}
#k5
{
    float: end;
    margin-right: 10px;
}

/*
rij 1
 */
#A1
{
    float: left;
    margin-right: 24px;
}
#A2
{
    float: left;
    margin-right: 52px;

}
#A3
{
    float: left;
    margin-right: 54px;
}
#A4
{
    float: left;
    margin-right: 20px;
}
#A5
{
    float: end;
    margin-right: 5px;
}
/*
rij 2
 */
#B1
{
    float: left;
    margin-right: 30px;
}
#B2
{
    float: left;
    margin-right: 37px;

}
#B3
{
    float: left;
    margin-right: 36px;
}
#B4
{
    float: left;
    margin-right: 20px;
}
#B5
{
    float: outside;
    margin-right: 5px;
}
/*
rij 3
 */
#C1
{
    float: left;
    margin-right: 23px;
}
#C2
{
    float: left;
    margin-right: 37px;

}
#C3
{
    float: left;
    margin-right: 36px;
}
#C4
{
    float: left;
    margin-right: 20px;
}
#C5
{
    float: outside;
    margin-right: 5px;
}
/*
rij 4
 */
#D1
{
    float: left;
    margin-right: 21px;
}
#D2
{
    float: left;
    margin-right: 37px;

}
#D3
{
    float: left;
    margin-right: 36px;
}
#D4
{
    float: left;
    margin-right: 20px;
}
#D5
{
    float: outside;
    margin-right: 5px;
}
/*
rij 5
 */
#E1
{
    float: left;
    margin-right: 40px;
}
#E2
{
    float: left;
    margin-right: 5px;

}
#E3
{
    float: left;
    margin-right: 5px;
}
#E4
{
    float: left;
    margin-right: 14px;
}
#E5
{
    float: outside;
    margin-right: 5px;
}