* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}
#grid {
  width: 100%;
  display: grid;
  grid-template-columns: 16.39vw 83.50vw;
  grid-template-rows: 46.34vh;
}

header {
  width: 100%;
}
.logo  {
  margin-left: 865px;
}
                 /* navigation settings */
nav {
  width: 100%;
  height: 50px;
  background-color: #3f3e40;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  margin-top: 15px;
  float: left;
  display: flex;
  flex-direction: row;
  margin-left: 125px;
}
a {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #ffc304;
}

main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
footer {
  width: 100%;
}
