
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url("wooden_background_1.jpg");
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /*background-color: darkblue;*/
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo img{
    width: 100px;
    height: 100px;
    margin-top: -5px;
    margin-left: -10px;

}

.logo img:hover{
    animation-name: revolutie;
    animation-duration: 0.1ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes revolutie {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 10px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 16px;
}
.navigation a li:hover{
    background-color: rgba(255,255,255,0.2);
    color: red;
    border-radius: 10%;
}

.eersteText_container{

}
.eersteText h4{
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}
.middenText_container{

}
.text_student{
    color: white;
    margin-top: 40%;
}

.footer{
    color: white;
    margin-top: 50%;
}









/*.logo_container h1{*/
/*    color: white;*/
/*    height: 100%;*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*    font-family: 'Montserrat', serif;*/
/*    font-size: 32px;*/
/*    font-weight: 200;*/
/*}*/

/*.logo_container h1 span{*/
/*    font-weight: 800;*/
/*}*/